.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 30px;
  color: azure;
  font-weight: 700;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}
.navbar a {
  color: azure;
  font-size: 18px;
  font-weight: 500;
}
.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  /* width: 280px; */
  background-color: #fff;
}
.searchbar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 3px;
  font-size: 14px;

  /* font-weight: 450; */
}
.searchbar img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  /* margin-left: 2px; */
}
img:hover {
  background-color: red;
}
.navbar a:hover {
  color: grey;
}
